<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">

        <div class="col-md-12 mt-md-0 mt-3">
            <center>© <a href="https://www.regaladochris.com" target="_blank">Chris Regalado</a></center>
        </div>

    </div>

</footer>
<script src="assets/js/main.js"></script>
</html>